@page "/"
@using SharpCanvas.Blazor.Wasm.Components

<PageTitle>SharpCanvas WebAssembly Demo</PageTitle>

<h1>SharpCanvas - HTML5 Canvas API for .NET</h1>

<p>This is a demonstration of SharpCanvas running in WebAssembly using Blazor.</p>

<CanvasView />
